.container {
max-width: 600px;
margin: 0 auto;
padding: 20px;
background-color: rgb(36, 36, 36);
box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
border-radius: 8px;
}

#login-button {
background-color: #1DB954;
color: white;
padding: 14px 24px;
font-size: 1.1rem;
border: none;
border-radius: 8px;
cursor: pointer;
transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#login-button:hover {
background-color: #128138;
transform: scale(1.05);
}

#login-button:focus {
outline: none;
}

#login-button:active {
transform: scale(0.95);
}

#loggedin {
display: none;
margin-top: 20px;
}

.user-profile {
padding: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

.user-profile img {
width: 150px;
border-radius: 50%;
margin-bottom: 10px;
}

.user-profile dl {
display: grid;
grid-template-columns: max-content 1fr;
gap: 10px;
}

.user-profile dt {
font-weight: bold;
}

.user-profile dd {
margin: 0;
}

.oauth-info {
padding: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px;
margin-top: 20px;
}

.oauth-info dt {
font-weight: bold;
}