@media only screen and (max-width: 768px) {
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: black;
    }

    table {
        width: 20rem;
        border-collapse: collapse; 
    }

    #subtitle {
        margin: .5rem;
    }

    .searchBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #searchInput {
        margin: .5rem;
    }

    #audio {
        width: 18rem;
    }

    /* #results-container {
        flex-direction: column;
    } */

    input[type="range"] {
        width: 90%;
        
      }
}